- name: Get project list from GitHub
  when: not mock_mode|d(False)
  uri:
    url: https://api.github.com/users/rishabhdas/repos
    return_content: yes
    body_format: json
    method: GET
  register: user_repos

- name: Mock reponse
  set_fact:
    repos: '{% if mock_mode|d(False) %}{{ mock_get_projects }}{% else %}{{ user_repos }}{% endif %}'

# - debug: 
#     var: repos.json

- debug: 
    msg: "{{ item.name }}"
  with_items:
    - "{{ repos.json }}"